<%= link_to offer_path(offer) do %>
  <img src="https://source.unsplash.com/random/?<%= offer.topic %>" />
<% end %>
<div class="card-product-infos">
  <%= link_to offer_path(offer) do %>
    <div>
      <h2 class="card-product-main-info"><%= offer.topic %></h2>
      <%# TODO: Add user avatar %>
      <h3><%= offer.user.name %> <br> <span class="tutor-location"><%= offer.user.location %></span></h3>
      <p><%= offer.description %></p>
    </div>
  <% end %>
  <div class="d-flex justify-content-between button-positions" >
    <%= yield %>
  </div>
</div>
