<img src="https://source.unsplash.com/random/?<%= offer.topic %>" />
<div class="card-product-infos">
  <div>
    <h2 class="card-product-main-info"><%= offer.topic %></h2>
    <%# TODO: Add user avatar %>
    <h3><%= offer.user.name %> (<%= offer.user.location %>)</h3>
    <p><%= offer.description %></p>
  </div>
  <div class="d-flex justify-content-between button-positions" >
    <%= yield %>
  </div>
</div>
