<ul class="navbar-logo">
  <li class="logo"><a href="/offers">LFT</a></li>
  <li class="logo-text"><a href="/offers">Looking for Tutor</a></li>
</ul>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/offers">Find a Lesson</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/offers/new">Become a Tutor</a>
    </li>
    <% if current_user %>
      <li class="nav-item dropdown">
        <% if current_user.photo.key %>
          <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", "data-bs-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false", alt: "Photo of #{current_user.name}" %>
        <% else %>
          <p class="nav-link" id="navbarDropdown" data-bs-toggle="dropdown", aria-haspopup="true" aria-expanded="false"><%= current_user.name %></p>
        <% end %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Upcoming Lessons", bookings_path("future"), class: "dropdown-item" %>
          <%= link_to "Past Lessons", bookings_path("past"), class: "dropdown-item" %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    <% else %>
      <li class="nav-item active">
        <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</div>
