<div class="container">
  <h1>Welcome to LFT!</h1>
  <h2>Find a tutor near you!</h2>
  <div class="card-container">
    <%= render 'shared/cardplaceholder' %>
    <%= render 'shared/cardplaceholder' %>
    <%= render 'shared/cardplaceholder' %>
    <%= render 'shared/cardplaceholder' %>
    <%= render 'shared/cardplaceholder' %>
    <%= render 'shared/cardplaceholder' %>
    <%= render 'shared/cardplaceholder' %>
    <%= render 'shared/cardplaceholder' %>
  </div>
</div>
