<h1>Welcome to LFT</h1>

<h2>Tutoring Offers</h2>

<div class="card-container">
  <% @offers.each do |offer| %>
    <div class="card-product">
       <img src="https://source.unsplash.com/random/?<%= offer.topic %>" />
      <div class="card-product-infos">
        <%= link_to offer.topic, offer_path(offer) %> (<%= offer.user.name %>)
        <p id="new-offer-button"><%= link_to "Book your session", class:"btn btn-primary" %></p>
      </div>
    </div>
  <% end %>
</div>

 <%# <p id="new-offer-button"><%= link_to "Make New Offer",  new_offer_path, class:"btn btn-primary" %></p> %>
