<div class="show-container">
  <div class="show-left">
    <div class="show-left-header">
      <h1><%= @offer.topic %></h1>
      <p><%= @offer.description %></p>
    </div>
    <div class="booking-card">
      <div class="card-product-infos">
        <%= render 'bookings/new' %>
      </div>
    </div>
  </div>
  <div class="show-right">
    <div class="img-container">
      <img src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Biology picture">
    </div>
  </div>
</div>

<div class="reviews-container">
  <h2>Reviews</h2>
  <ul>
    <% @offer.reviews.each do |review| %>
      <li><%= review.content %> (<%= review.rating %> <span class="star-rating">&#x2605</span> from <%= review.user.name %>)</li>
    <% end %>
  </ul>
</div>
