<div class="show-container">
  <div class="show-left">
    <div class="show-left-header">
      <h1><%= @offer.topic %></h1>
      <p><%= @offer.description %></p>
    </div>
    <div class="booking-card">
      <div class="card-product-infos">
        <%= render 'bookings/new' %>
      </div>
    </div>
  </div>
  <div class="show-right">

  </div>

 <div style="width: 100%; height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
</div>

<div class="reviews-container">
  <h2>Reviews</h2>
  <ul>
    <% @offer.reviews.each do |review| %>
      <li><%= review.content %> (<%= review.rating %> <span class="star-rating">&#x2605</span> from <%= review.user.name %>)</li>
    <% end %>
  </ul>
</div>
